<main role="main">
  <article class="sheet">
    <header class="sheet-header">
      <h1>{{ 'errors.404.page_title' | t }}</h1>
    </header>

    <section class="sheet-content">
      <p>{{ 'errors.404.not_found_message_html' | t }}</p>
    </section>
  </article>
</main>

{% include 'site_aside' %}