<main role="main">
  <article class="sheet">
    <header class="sheet-header page-header">
      <h1>{{ article.title }}</h1>
      {% include 'article_meta' %}
    </header>

    <section class="sheet-content">
      {{ article.content }}
    </section>
  </article>
</main>

{% include 'site_aside' %}