<main role="main">
  <div class="sheet">
    <header class="sheet-header">
      <h1>{{ blog.title }}</h1>
    </header>

    <section class="sheet-content">
      {% comment %}
        TODO: blog templates
      {% endcomment %}
      
      <p>{{ blog.title }} coming soon</p>
      
    </section>
  </div>
</main>

{% include 'site_aside' %}