<main role="main">
  <div class="sheet">
    <header class="sheet-header">
      <h1>{{ collection.title }}</h1>
      {{ collection.description }}
    </header>

    <section class="group products">
    {% for p in collection.products %}
      {% include 'product_item' %}
    {% endfor %}
    </section>
  </div>
</main>

{% include 'site_aside' %}
