<section class="page-wrap">
  <div class="page">
    <header class="page-header">
      <h1>{{ collection.title }}</h1>
    </header>

    <div class="collection--grid">
    {% for p in collection.products %}
      {% include 'product_item' %}
    {% endfor %}
    </div>
  </div>
</section>