<main role="main">

  {% comment note:
    Loop the homepage content settings and add each section if applicable.
    Then loop the advanced content link list to add additional sections if needed.
    
    `section_count` is used across both standard & advanced sections and only increments if a section is included.
   %}{% endcomment %}

  {% assign section_count = 1 %}
  
  {% for i in (1..5) %}
    {% assign homepage_settings_id = 'homepage_layout_section_' | append: i %}
    {% assign homepage_section = settings[homepage_settings_id] %}
    
    {% unless homepage_section == blank or homepage_section == 'none' %}
    
      {% comment note:
        Check for each section type and collect it's relevant content inside the advanced_layout_section_content variable
        
        All except for the banner and video banner create three variables:
         - homepage_section_object which is passed to the snippet to be rendered
         - homepage_section_id to be used to identify each section
         - homepage_section_type to be used to identify each sections type
       %}{% endcomment %}
    
      {% case homepage_section %}
      {% when 'banner' %}
        {% assign homepage_section_id = 'homepage-banner-' | append: section_count %}
        {% assign homepage_section_type = 'banner' %}
        {% capture advanced_layout_section_content %}{% include 'homepage_banner' %}{% endcapture %}
                
      {% when 'video_banner' %}
        {% assign homepage_section_id = 'homepage-banner-' | append: section_count %}
        {% assign homepage_section_type = 'banner-video' %}
        {% capture advanced_layout_section_content %}{% include 'homepage_banner_video' %}{% endcapture %}
                
      {% when 'featured_collections' %}
        {% unless settings.homepage_featured_collections == blank %}
          {% assign homepage_section_object = linklists[settings.homepage_featured_collections] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'collections' %}
          {% capture advanced_layout_section_content %}{% include 'homepage_collections' with homepage_section_object %}{% endcapture %}
        {% endunless %}
        
      {% when 'featured_products' %}
        {% unless settings.homepage_featured_products == blank %}
          {% assign homepage_section_object = collections[settings.homepage_featured_products] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'collection' %}
          {% capture advanced_layout_section_content %}{% include 'homepage_products' with homepage_section_object %}{% endcapture %}
        {% endunless %}
        
      {% when 'page_content' %}
        {% unless settings.homepage_page_content == blank %}
          {% assign homepage_section_object = pages[settings.homepage_page_content] %}
          {% assign homepage_section_id = homepage_section_object.handle %}
          {% assign homepage_section_type = 'page' %}
          {% capture advanced_layout_section_content %}{% include 'homepage_page' with homepage_section_object %}{% endcapture %}
        {% endunless %}
      {% endcase %}
    
      {% comment note:
        If we have collected content inside advanced_layout_section_content then add it to the page
       %}{% endcomment %}
      
      {% include 'advanced_layout_section' %}
      
    {% endunless %}
  {% endfor %}
  
  {% comment note:
    Advanced layout.
    
    The advanced layout uses nested linklists like dropdown menus do, but the layout of the content is changed by it's level
    i.e. a product on the top level of the list will show a products layout with product form and description,
    but a product on the 2nd level will show a product thumbnail.
   %}{% endcomment %}
  
  {% unless settings.homepage_advanced_layout == blank %}
    {% include 'advanced_layout' with settings.homepage_advanced_layout %}
  {% endunless %}
  
  {% comment note:
    If the section count is still 1 after all of that then we haven't created any sections.
    So show the on-boarding content
   %}{% endcomment %}
  {% if section_count == 1 %}
    {% include 'homepage_onboarding' %}
  {% endif %}
</main>

{% include 'site_aside' %}