<section class="page-wrap">
  <div class="page">
    <header class="page-header">
      <h1>{{ 'collections.list_collections.page_title' | t }}</h1>
    </header>

    <div class="collection--grid">
    {% for c in collections %}
      {% include 'collection_item' %}
    {% endfor %}
    </div>
  </div>
</section>