<main role="main">
  <div class="sheet">
    <header class="sheet-header">
      <h1>{{ 'collections.list_collections.title' | t }}</h1>
      {{ 'collections.list_collections.description' | t }}
    </header>

    <section class="group collections">
    {% for c in collections %}
      {% include 'collection_item' %}
    {% endfor %}
    </section>
  </div>
</main>

{% include 'site_aside' %}