{% layout none %}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-times" aria-hidden="true"></span></button>
  <h1>{{ product.title }}</h1>
</div>
<div class="modal-body">
  {{ product.description }}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>