<div class="sheet">
  <header class="sheet-header page-header">
    <h1>{{ advanced_layout_blog.title }}</h1>
  </header>

  {% assign blog = advanced_layout_blog %}
  {% include 'article_recent' %}
</div>