{% if c.collection.products_count > 0 %}
<div class="sheet">
  <header class="sheet-header page-header">
    <h1>{{ advanced_layout_collections.title }}</h1>
  </header>
  
  <section class="group collections" data-collections-size="{{ advanced_layout_collections.links.size }}">
    {% for l in advanced_layout_collections.links %}
      {% assign c = l.object %}
      {% if c.collection.products_count > 0 %}
        {% assign collection_item_title = l.title %}
        {% include 'collection_item' %}
      {% endif %}
    {% endfor %}
  </section>
</div>
{% endif %}