<main role="main">
  <div class="sheet">
    <header class="sheet-header">
      <h1>{{ collection.title }}</h1>
      {% include 'collection_controls'%}
      {{ collection.description }}
    </header>
  </div>
  
  <div class="sheet {% if collection.products.size > 0 %}products-wrap{% endif %}" data-products-size="{{ collection.products.size }}">
  {% if collection.products.size > 0 %}
    <section class="group products">
      {% for p in collection.products %}
        {% include 'product_item' %}
      {% endfor %}
    </section>
  {% else %}
    <section class="sheet-content">
      <div class="collection-message">
        {{ 'collections.general.empty_message_html' | t }}
      </div>
    </section>  
  {% endif %}
  </div>
</main>

{% include 'site_aside' %}