<section class="collection-header collection-header-{{ settings.collection_header_layout | replace: '_','-' }}">
  {% if collection.image %}
    <div class="banner-image banner-image-fullscreen">
      <img src="{{ collection.image.src | img_url: '2048x2048' }}">
      <div class="banner-image-caption carousel-caption">
        {% if collection.description != blank %}
          <div class="collection-description">{{ collection.description }}</div>
        {% endif %}
      </div>
    </div>
    <div class="sheet">
      <header class="sheet-header page-header">
        {% include 'collection_header_component_title' %}
      </header>
    </div>
    
  {% else %}
    <div class="sheet">
      <header class="sheet-header page-header">
        {% include 'collection_header_component_title' %}
        {% if collection.description != blank %}
          <div class="collection-description">{{ collection.description }}</div>
        {% endif %}
      </header>
    </div>
  {% endif %}
</section>