<section class="collection-header collection-header-standard">
  <div class="sheet">
    <header class="sheet-header page-header">
      {% include 'collection_header_component_title' %}
      
      {% if collection.description != blank %}
        <div class="collection-description">{{ collection.description }}</div>
      {% endif %}
    </header>
  </div>
</section>