{% if form.errors %}
  <div class="errors">
    {{ form_errors_message }}
    <ul>
      {% for field in form.errors %}
        <li data-error-field="{{ field }}">{% unless field == 'form' %}{{ form.errors.translated_fields[field] }} {% endunless %}{{ form.errors.messages[field] }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}