{% if form.errors %}
  <div class="errors">
    {{ 'errors.customer_accounts.form_message' | t }}
    <ul>
      {% for field in form.errors %}
        <li>{% unless field == 'form' %}{{ field }} {% endunless %}{{ form.errors.messages[field] }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}