<div id="header-layout-centered">
  <!-- Header markup for smaller screen sizes i.e. mobiles -->
  <div class="header-small">
    <div class="sheet">
      
      {% comment %}
        .navigation-toggle and .navigation need the .collapsed and .collapse links to get the BS transitions to work.
      {% endcomment %}
      
      <div class="navigation-header">
        <button type="button" class="navigation-toggle collapsed" data-toggle="collapse" data-target="#navigation-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
          Menu
        </button>
        
        {% assign nav_list_items = 'cart' %}
        {% include 'nav_list' %}
      </div>
      
      <div class="navigation collapse" id="navigation-collapse">
        {% unless settings.main_menu_linklist == blank %} {% include 'nav_list' with settings.main_menu_linklist %} {% endunless %}

        {% unless settings.secondary_menu_linklist == blank %} {% include 'nav_list' with settings.secondary_menu_linklist %} {% endunless %}

        {% assign nav_list_items = 'accounts,search' %}
        {% include 'nav_list' with settings.tertiary_menu_linklist %}
      </div>
      
    </div>
  </div>
  
  <!-- Header markup for larger screen sizes i.e. desktops --> 
  <div class="header-large">  
    <section class="navigation-top">
      <div class="sheet">
        {% unless settings.secondary_menu_linklist == blank %}
          <nav class="secondary-nav">
            {% include 'nav_list' with settings.secondary_menu_linklist %}
          </nav>
        {% endunless %}
        
        <nav class="tertiary-nav">
          {% assign nav_list_items = 'accounts,cart,search' %}
          {% include 'nav_list' with settings.tertiary_menu_linklist %}
        </nav>
      </div>
    </section>
  
    <section class="header-logo">
      {% comment %} *** TODO: Logos -> text / img / svg / font / etc *** {% endcomment %}
      <h1><a href="/">{{ shop.name }}</a></h1>
    </section>
    
    {% unless settings.main_menu_linklist == blank %}
    <section class="navigation-main">
      <nav class="main-nav">
        {% include 'nav_list' with settings.main_menu_linklist %}
      </nav>
    </section>
    {% endunless %}
  </div>
</div>