{% include '_has_menu' %}

<div id="header-layout-centered">
  {% comment note: Mobile and small screen nav %}{% endcomment %}
  <div class="header-layout-sm visible-xs-block">
    {% capture navbar_content %}
      
      {% comment note: fallback for if no menus are set %}{% endcomment %}
      {% if has_menu %}
        {% unless settings.main_menu_linklist == blank %}
          {% assign nav_classes = 'nav navbar-nav' %}
          {% include 'nav_list' with settings.main_menu_linklist %}
        {% endunless %}
        
        {% unless settings.secondary_menu_linklist == blank %}
          {% assign nav_classes = 'nav navbar-nav' %}
          {% include 'nav_list' with settings.secondary_menu_linklist %}
        {% endunless %}
        
        {% assign nav_classes = 'nav navbar-nav' %}
        {% assign nav_list_items = 'accounts' %}
        {% include 'nav_list' with settings.tertiary_menu_linklist %}
        
        {% assign form_classes = 'navbar-form' %}
        {% include 'search_form' %}
        
      {% else %}
        {% assign nav_classes = 'nav navbar-nav' %}
        {% include 'nav_list' with 'main-menu' %}
        
        {% assign nav_classes = 'nav navbar-nav' %}
        {% assign nav_list_items = 'accounts' %}
        {% include 'nav_list' %}
        
        {% assign form_classes = 'navbar-form' %}
        {% include 'search_form' %}
        
      {% endif %}
    {% endcapture %}
    {% assign navbar_classes = 'navbar navbar-default' %}
    {% assign include_cart_in_header = true %}
    {% include 'header_component_navbar' %}
  </div>

  {% comment note: Desktop and large screen nav %}{% endcomment %}
  <div class="header-layout-lg hidden-xs">
    <div class="header-top-menu">
      {% capture navbar_content %}
        {% unless settings.secondary_menu_linklist == blank %}
          {% assign nav_classes = 'nav navbar-nav navbar-left' %}
          {% include 'nav_list' with settings.secondary_menu_linklist %}
        {% endunless %}
        
        {% assign form_classes = 'navbar-form navbar-left' %}
        {% include 'search_form' %}
        
        {% assign nav_classes = 'nav navbar-nav navbar-right' %}
        {% assign nav_list_items = 'accounts,cart' %}
        {% include 'nav_list' with settings.tertiary_menu_linklist %}
        
      {% endcapture %}
      {% assign navbar_classes = 'navbar ' %}
      {% assign include_header = false %}
      {% include 'header_component_navbar' %}
    </div>
    
    <div class="header-logo h1">
      {% include 'header_component_brand' %}
    </div>
    
    <div class="header-main-menu">
      {% capture navbar_content %}
        {% assign nav_classes = 'nav navbar-nav' %}
        {% if has_menu %}
          {% include 'nav_list' with settings.main_menu_linklist %}
        {% else %}
          {% include 'nav_list' with 'main-menu' %}
        {% endif %}
      {% endcapture %}
      
      {% assign navbar_classes = 'navbar ' %}
      {% assign include_header = false %}
      {% include 'header_component_navbar' %}
    </div>
  </div>
</div>
