{% include '_has_menu' %}

<div id="header-layout-navbar">
  {% capture navbar_content %}
    {% comment note: Add fall back for no menu in settings %}{% endcomment %}
    {% if has_menu %}
    
      <div class="header-top-menu">
        {% assign form_classes = 'navbar-form navbar-right' %}
        {% include 'search_form' %}
      
        {% assign nav_classes = 'nav navbar-nav navbar-right' %}
        {% assign nav_list_items = 'accounts,cart,currency_converter' %}
        {% include 'nav_list' with settings.tertiary_menu_linklist %}
      </div>
      <div class="header-main-menu">
        {% unless settings.main_menu_linklist == blank %}
          {% assign nav_classes = 'nav navbar-nav' %}
          {% include 'nav_list' with settings.main_menu_linklist %}
        {% endunless %}
        
        {% unless settings.secondary_menu_linklist == blank %}
          {% assign nav_classes = 'nav navbar-nav navbar-right' %}
          {% include 'nav_list' with settings.secondary_menu_linklist %}
        {% endunless %}
      </div>
      
    {% else %}
      {% assign nav_classes = 'nav navbar-nav' %}
      {% include 'nav_list' with 'main-menu' %}
      
      {% assign form_classes = 'navbar-form navbar-right' %}
      {% include 'search_form' %}
      
      {% assign nav_classes = 'nav navbar-nav navbar-right' %}
      {% assign nav_list_items = 'accounts,cart,currency_converter' %}
      {% include 'nav_list' %}
      
    {% endif %}
  {% endcapture %}
  
  {% assign navbar_classes = 'navbar navbar-default navbar-static-top' %}
  {% assign include_cart_in_header = true %}
  {% include 'header_component_navbar' %}
  {% include 'header_component_megamenu' %}
</div>