<div class="sheet">
  <header class="sheet-header page-header">
    {% if homepage_page.published_at != blank %}
      <h1><a href="{{ homepage_page.url }}">{{ homepage_page.title }}</a></h1>
    {% else %}
      <h1>{{ homepage_page.title }}</h1>
    {% endif %}
  </header>
  
  <section class="sheet-content">
  {% if homepage_page.template_suffix == 'split' %}
    {% include 'content_split' with homepage_page.content %}
  {% else %}
    <div class="content-full">
      {{ homepage_page.content }}
    </div>
  {% endif %}
  </section>
</div>
