<div class="group-item-wrap">
  <article class="group-item thumbnail" id="{{ homepage_sub_page.handle }}">
    <header>
      <h1>{{ homepage_sub_page.title }}</h1>
    </header>
    <section>
      {{ homepage_sub_page.content }}
    </section>
  </article>
</div>