<div class="sheet">
  <header class="sheet-header">
    <h1>{{ homepage_collections.title }}</h1>
  </header>
  
  <section class="group collections" data-collections-size="{{ homepage_collections.links.size }}">
    {% for l in homepage_collections.links %}
      {% assign c = l.object %}
      {% include 'collection_item' %}
    {% endfor %}
  </section>
</div>