<div class="side-cart-message">
  {% if cart.item_count == 0 %}
    {% include 'phd_side_cart_empty' %}
  {% endif %}
</div>
<div data-phd-side-cart-items>
  {% if cart.item_count > 0 %}
    {% for item in cart.items %}
      {% include 'phd_side_cart_item' %}
    {% endfor %}
  {% endif %}
</div>

<script id="phd-side-cart-empty" type="text/template">
  {% include 'phd_side_cart_empty' %}
</script>

<script id="phd-side-cart-item" type="text/template">
  {% assign item = null %}
  {% include 'phd_side_cart_item' %}
</script>