<div data-phd-side-cart-item="{{ item.id }}">
  <h4><span data-phd-side-cart-item-title>{{ item.title }}</span> <small>x <span data-phd-side-cart-item-qty>{{ item.quantity }}</span></small></h4>
</div>