{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if p.compare_at_price > p.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if p.available  %}
  {% assign sold_out = false %}
{% endif %}

<div class="group-item-wrap">
  <figure class="group-item">
    <a href="{{ p.url }}" title="{{ p.title }}">
      <div class="group-item-image">
        {{ p.featured_image | img_url: '1024x1024' | img_tag }}
      </div>
      <figcaption class="group-item-details">
        <h3 class="group-item-title">{{ p.title }}</h3>
        {% include 'product_price' %}
        {% include 'product_badges' %}
      </figcaption>
    </a>
  </figure>
</div>
