{% if on_sale %}<span class="label label-sale">{{ 'products.badges.on_sale' | t }}</span>{% endif %}
{% if sold_out %}<span class="label label-sold-out">{{ 'products.badges.sold_out' | t }}</span>{% endif %} 
