{% if on_sale and sold_out != true %}<span class="label label-sale label-success">{{ 'products.badges.on_sale' | t }}</span>{% endif %}
{% if sold_out %}<span class="label label-sold-out label-warning">{{ 'products.badges.sold_out' | t }}</span>{% endif %} 
