{% if on_sale %}<span class="label label-sale">{{ 'products.badges.on-sale' | t }}</span>{% endif %}
{% if sold_out %}<span class="label label-sold-out">{{ 'products.badges.sold-out' | t }}</span>{% endif %} 
