{% comment %}
 TODO: Search form needs theme settings
 
<form class="search-form" action="/search" role="search">
  <div class="form-group">
    <input class="form-control" type="search" name="q" autocomplete="off" placeholder="{{ 'search.search_form.field_placeholder' | t }}" value="{{ search.terms }}">
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="{{ 'search.search_form.button_text' | t }}" />
    </span>
  </div>
</form>
{% endcomment %}