<div class="group-item-wrap">
  <article class="group-item panel panel-default">
    <header class="panel-heading">
      <h3 class="panel-title">
        <a href="{{ result.url }}">{{ result.title }}</a>
      </h3>
    </header>
  
    <section class="panel-body">
      {% if settings.truncate_page_results == blank %}
        {{ result.content }}
      {% else %}
        {{ result.content | strip_html | truncatewords: settings.truncate_page_results }}
      {% endif %}
    </section>
  </article>
</div>