<section>
  <div class="sheet">
    <div class="sheet-content">
      
    </div>
  </div>
</section>

<section class="site-credits">
  <p>
    <small>
      &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>. <br>
      Theme&nbsp;by&nbsp;<a href="http://lucid.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid</a>. <br>
      Powered&nbsp;by&nbsp;<a href="http://shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
    </small>
  </p>
</section>