{% if product.metafields.local_delivery.local_delivery_available == "true" or shop.metafields.local_delivery.enable_all_products == 'true'%}
	<p><strong>Local Delivery is Available for this Product</strong></p> 
{% endif %}
